<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/BDC</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Enable Hibernate's current session context -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- Mapping Media -->
<!-- 		<mapping class="org.bdc.model.e.E1" /> -->
<!-- 		<mapping class="org.bdc.model.e.E2" /> -->
<!-- 		<mapping class="org.bdc.model.e.E3" /> -->
		<mapping class="org.bdc.model.entity.Banda" />
		<mapping class="org.bdc.model.entity.Clump" />
		<mapping class="org.bdc.model.entity.Ellisse" />
		<mapping class="org.bdc.model.entity.Flusso" />
		<mapping class="org.bdc.model.entity.MappaStellare" />
		<mapping class="org.bdc.model.entity.Posizione" />
		<mapping class="org.bdc.model.entity.Satellite" />
		<mapping class="org.bdc.model.entity.Sorgente" />
		<mapping class="org.bdc.model.entity.Strumento" />
	</session-factory>
</hibernate-configuration>



